<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
			<div class="modal-dialog loginModal">
				<div class="modal-content loginContent">
					<div class="modal-header">
							<h1 class="modal-title loginHeader">Forgot your Pasword?</h1>
					</div>
					<div class="modal-body loginBody">
						<div class="container-fluid loginContainer">
							<div class="row">
								<div class="input-group input-group-lg inputBox">
									<span class="input-group-addon glyphicon glyphicon-envelope"></span>
									
									<%= f.text_field :login, :autofocus => true, :class =>"form-control tbox", :placeholder => "Email", :required => "required" %>
								</div>
								<br>
								<%= button_tag "<h4>Recover Password</h4>".html_safe, :class =>"btn btn-block buttonSignIn", :type => "submit" %>
											
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>